body {
  background: #ECEFF1;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#regs {
  display: flex;
  gap: 2px;
  flex-direction: column;
}

.reg-header {
  padding: 2px;
  background-color: lightblue;
}

.reg-expanded {
  background-color: gold;
}

tr.reg-inter table ,
tr.reg-fr table {
  width: 100%;
}

tr.reg-inter table tr,
tr.reg-fr table tr {
  width: 50%;
}

tr.reg-inter table thead,
tr.reg-fr table thead {
  font-weight: bold;
}

td.label {
  font-weight: bold;
  vertical-align: top;
}

.reg-details {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}

#message {
  background: white;
  max-width: 360px;
  margin: 100px auto 16px;
  padding: 32px 24px;
  border-radius: 3px;
}

#message h2 {
  color: #ffa100;
  font-weight: bold;
  font-size: 16px;
  margin: 0 0 8px;
}

#message h1 {
  font-size: 22px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6);
  margin: 0 0 16px;
}

@media (max-width: 600px) {

  body,
  #message {
    margin-top: 0;
    background: white;
    box-shadow: none;
  }

  body {
    border-top: 16px solid #ffa100;
  }
}